{{properties.name}}, der Ausflugstipp des Tages; oder als #BurgenSafari! Kartenfehler direkt in #OpenStreetMap editieren oder @SwissOSM melden. https://castle-map.infs.ch/#{{geometry.coordinates.1}},{{geometry.coordinates.0}},12z,{{properties.osm_id}} #OSMTrekkingTips #Schweiz